<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iFresh - Quét sản phẩm</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/img/logo/favicon.ico') }}" type="image/x-icon">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='templates/common-styles.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ template_folder }}/styles.css" type="text/css">

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <!-- <header>
            <h1>Your Website Header</h1>
        </header> -->
        <main>
            <!-- <h2>Welcome to Your Website</h2> -->

            <div id="body-container">
                <div id="camera-frame">

                    <img src="" id="image-display">
                    <!-- <video id="video-frame" autoplay></video> -->
                    
                    <div class="corner top-left"></div>
                    <div class="corner top-right"></div>
                    <div class="corner bottom-left"></div>
                    <div class="corner bottom-right"></div>
                </div>

                <div id="scanner-icon">
                    <img src="{{ url_for('static', filename='assets/img/icons/scanner.png') }}" onclick="clickScan()">
                </div>
            </div>

            <div id="nav-pages">
                <div class="page" id="home-page">
                    <img src="{{ url_for('static', filename='assets/img/icons/page-icons/home-active.png') }}">
                </div>
                <div class="page" id="scan-page">
                    <img src="{{ url_for('static', filename='assets/img/icons/page-icons/scanner-active.png') }}">
                </div>
                <div class="page" id="menu-page">
                    <img src="{{ url_for('static', filename='assets/img/icons/page-icons/menu-active.png') }}">
                </div>
                <div class="page" id="explore-page">
                    <img src="{{ url_for('static', filename='assets/img/icons/page-icons/explore-active.png') }}">
                </div>
            </div>

        </main>
        <!-- <footer>
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </footer> -->




        <img src="{{ url_for('static', filename='assets/img/icons/loading-icon.gif') }}" id="loading-icon">


        <script src="{{ url_for('static', filename='templates/common-script.js') }}"></script>
        <script></script>
        <script src="{{ template_folder }}/script.js"></script>
    </body>
</html>